@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.index_icon_list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.index_icon_list>div{
    width: 80px;
    margin: 40px;
    cursor: pointer;
    transition: all 0.3s;
}
.icon_active{
    background: white;
    border-radius: 10px;
}
.index_icon_list>div img{
    width: 100%;
    display: block;
}
canvas {
    display: block;
}
.content {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.home_con {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.8s;
    background: #2C3136;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 20;
    overflow-x: hidden;
}
.des_con{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vw;
    color: #DBD1B7;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    flex-direction: column;
}
.des_con p{
    line-height: 2;
}
.des_con b{
    font-weight: 800;
}
.des_title{
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
}
.im_des_con{
    border: 3px #CE4415 solid;
    padding: 10px;
}
.im_des{
    font-size: 30px !important;
    display: block;
    border: 3px #CE4415 solid;
    padding: 10px;
    color: #CE4415;
}
.title {
    color: #dbd1b7;
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
}

.home_btn {
    background: #CE4415;
    color: #151A1E;
    font-family: "Bebas Neue", sans-serif;
    font-size: 26px;
    padding: 15px 80px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.home_btn:hover {
    background: #90D4C6;
}

.game_con {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /*background: #151A1E;*/
    display: flex;
    justify-content: space-between;
}

.game_con_left, .game_con_right {
    width: 150px;
    height: 100%;
    padding: 20px;
    background: #202326;
}
.game_con_left{
    position: relative;
}
.music{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    width: 50px;
    cursor: pointer;
    z-index: 999;
}
.music img{
    width: 100%;
    display: block;
}
.game_con_center {
    width: calc(100% - 300px);
    height: 100%;
}

.icon_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
}

.icon_list img {
    width: 40px;
}

.icon_list span {
    color: #DBD1B7;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    margin-left: 10px;
}

.game_con_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    color: #DBD1B7;
}

.day_active {
    /*color: white !important;*/
    background: white;
    width: 60px;
    height: 60px;
    color: #151A1E;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    line-height: 2;
    transition: all 0.3s;
}

.game_con_center {
    position: relative;
    overflow: hidden;
}

.game_con_center > div {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.6s;
    opacity: 0;
    transform: scale(3);
    /*background: #151A1E;*/
}

.days_active {
    opacity: 1 !important;
    transform: scale(1) !important;
    z-index: 20;
}

.game_title {
    color: #CE4415;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}

.game_text {
    color: #DBD1B7;
    font-family: "Overpass", sans-serif;
    font-size: 20px;
}

.game_list {
    width: 80%;
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.game_list > div {
    flex: 1;
    border: 1px solid #DBD1B7;
    padding: 40px 0;
    border-radius: 5px;
}

.game_des {
    color: #DBD1B7;
    font-family: "Overpass", sans-serif;
    font-size: 18px;
    text-align: center;
}

.day1 {
    z-index: 6;
}

.day1 {
    z-index: 5;
}

.day1 {
    z-index: 4;
}

.day1 {
    z-index: 3;
}

.day1 {
    z-index: 2;
}

.btn {
    background: #CE4415;
    color: #151A1E;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    width: 100px;
    text-align: center;
    margin: 20px auto 0 auto;
}

.btn:hover {
    background: #90D4C6;
}

.pop {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    background: #DBD1B7;
    color: #151A1E;
    width: 80%;
    padding: 80px 100px;
    border-radius: 10px;
    font-family: "Overpass", sans-serif;
    font-size: 18px;
    z-index: -10;
    transition: all 0.3s;
    opacity: 0;
    text-align: center;
}

.pop.pop_active {
    opacity: 1;
    z-index: 99;
    transform: translate(-50%, -50%) scale(1);
}

.pop_btn {
    background: #CE4415;
    color: #151A1E;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    width: 100px;
    text-align: center;
    margin: 20px auto 0 auto;
}

.pop_btn:hover {
    background: #151A1E;
    color: #DBD1B7;
}

.pop_icon {
    width: 80px;
    margin: 0 auto 20px auto;
}

.pop_icon > img {
    width: 100%;
}

.med_pop {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    background: #DBD1B7;
    color: #151A1E;
    width: 80%;
    padding: 80px 100px;
    border-radius: 10px;
    font-family: "Overpass", sans-serif;
    font-size: 18px;
    z-index: -10;
    transition: all 0.3s;
    opacity: 0;
    text-align: center;
}

.med_pop.med_pop_active {
    opacity: 1;
    z-index: 99;
    transform: translate(-50%, -50%) scale(1);
}

.med_pop_btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.med_pop_btns > div {
    display: inline-block;
    background: #CE4415;
    color: #151A1E;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 20px;
    width: 200px;
    text-align: center;
}

.med_pop_btns > div:hover {
    background: #151A1E;
    color: #DBD1B7;
}
.game_over{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    z-index: -999;
    background: #dbd1b7;
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translate(-50%,-50%) scale(0.2);
    transition: all 0.6s;
    opacity: 0;
}
.game_over.over_active{
    width: 100%;
    height: 100%;
    border-radius: 0;
    z-index: 9999;
    transform: translate(-50%,-50%) scale(1);
    opacity: 1;
}
.over_title{
    color: #151A1E;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}
.over_btn{
    background: #CE4415;
    color: #151A1E;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    width: 300px;
    text-align: center;
    margin: 20px auto 0 auto;
}
.over_btn:hover{
    background: #90D4C6;
}
